# Dependencies
node_modules
.pnp
.pnp.js

# Build output
dist
build
*.tsbuildinfo

# Local env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS files
.DS_Store
Thumbs.db

# Test
coverage

# Package lock files (keep package-lock.json only)
yarn.lock
pnpm-lock.yaml

# Android
android/app/build
android/app/release
android/app/src/main/assets/index.html
android/.gradle
android/build
android/local.properties
android/key.properties
android/*.iml
android/app/*.iml
*.keystore
*.jks
*.apk
*.aab

# Capacitor
.capacitor
ios/
